/* You can add global styles to this file, and also import other style files */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	min-height: 100vh;
  }
  
  app-root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }
  
  
  @import "~bootswatch/dist/united/variables";
  @import "~bootstrap/scss/bootstrap";
  @import "~bootswatch/dist/united/bootswatch";

  @import "~@fortawesome/fontawesome-free/css/all.min.css"; 
  @import "node_modules/angular2-multiselect-dropdown/themes/default.theme.scss";
  
  .btn-group-form {
	display: flex;
	gap: 1em;
	
	&.left {
	  justify-content: flex-start;
	}
	&, &.right{
	  justify-content: flex-end;
	}
  }
  
  #toast-container > div {
	opacity:1;
  }
  
  .text-align-left {
	text-align: left;
  }
  
  .home-button-group {
	text-align: center;
  
	& p#btn-text {
	  line-height: 1;
	}
  }
  
  button.btn-home {
	height: 200px;
	width: 200px;
  
	& span i {
	margin-bottom: 10px;
	}
  }
  
  table.dataTable td {
	white-space: nowrap;
  }
  
  td.dataTables_empty {
	display: none;
  }