<div class="row mt-3 g-3">
    <div class="col-12">
        <form [formGroup]="form">
            <app-subject-filters #subjectFilters></app-subject-filters>
        </form>
    </div>
    <div class="col-12">
        <div class="card network-wrapper">
                <div #graph id="graph"></div>
        </div>
    </div>
</div>
<div class="row">
    @if(subject_A$ | async; as a) {
    <div class="col-12">
        <h3>
            (A) {{a.name}}
        </h3>
        @if(subject_B$ | async; as b) {
        <h3 class="ms-2">
            &darr;
        </h3>
        <h3>
            (B) {{b.name}}
        </h3>
        <p class="d-inline-flex gap-1">
            <button class="btn btn-primary" (click)="link(a,b,true,false)">A => B (regularize)</button>
            <button class="btn btn-primary" (click)="link(a,b,false,true)">A => B (approved)</button>
            <button class="btn btn-primary" (click)="link(a,b,true,true)">A => B (both)</button>
        </p>
        }
    </div>
    }
</div>