<div class="network-wrapper d-flex justify-content-center align-items-center">
    <div #graph id="graph" [hidden]="data.length === 0"></div>
    @if(data.length === 0) {
        <h1>Sin datos</h1>
    }
</div>

<!-- 
<div class="floating-content">
    <div class="row">
        @if(subject_A$ | async; as a) {
        <div class="col-12">
            <h3>
                (A) {{a.name}}
            </h3>
            @if(subject_B$ | async; as b) {
            <h3 class="ms-2">
                &darr;
            </h3>
            <h3>
                (B) {{b.name}}
            </h3>
            <p class="d-inline-flex gap-1">
                <button class="btn btn-primary" (click)="link(a,b,true,false)">A => B (regularize)</button>
                <button class="btn btn-primary" (click)="link(a,b,false,true)">A => B (approved)</button>
                <button class="btn btn-primary" (click)="link(a,b,true,true)">A => B (both)</button>
            </p>
            }
        </div>
        }
    </div>
    
</div>
-->

<nav class="navbar navbar-expand navbar-dark bg-primary fixed-bottom z-3">
    <ul class="navbar-nav mx-auto">
    <li class="nav-item">
        <a class="nav-link btn btn-primary mx-1" (click)="openFilterModal()">
            <fa-icon [icon]="filterIcon" />
            Filtrar
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-primary mx-1" (click)="openEditModal()">
            <fa-icon [icon]="editIcon" />
            Editar
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-primary mx-1" (click)="openLinkModal()">
            <fa-icon [icon]="linkIcon" />
            Unir
        </a>
    </li>
    </ul>
</nav>