<div class="card">
	<div class="card-header bg-primary text-light">
		Correlativas de la asignatura
	</div>
	<div class="card-body">
		<div class="row">
			<div class="btn-group-form my-2">
				<button type="button" class="btn btn-primary" (click)="openEdit()" *ngIf="!readonly">
				  <i class="fas fa-edit"></i> Actualizar
				</button>
			  </div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="alert alert-warning" role="alert" *ngIf="noData">
					No existen registros
				</div>
				<div class="card table-responsive" [hidden]="noData">
					<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
						<thead>
							<tr>
								<!-- <th scope="col"> </th> -->
								<th scope="col">#</th>
								<th scope="col">Nombre</th>
								<th scope="col">Cuatrimestre</th>
								<th scope="col">Carga horaria</th>
								<th scope="col">Condición</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of correlativas" class="align-middle">
								<!-- <td>
									<div class="btn-group-sm">
										<button class="btn btn-link" ngbTooltip="Eliminar" (click)="remove()" *ngIf="!readonly">
										<i class="fas fa-trash text-danger fa-lg"></i>
										</button>
									</div>
								</td> -->
								<td>{{item.id}}</td>
								<td>{{item.nombre}}</td>
								<td>{{item.cuatrimestre}}</td>
								<td>{{item.cargaHoraria}}</td>
								<td>{{item.condicionCorrelativa.descripcion}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>
