<form [formGroup]="childForm" class="row g-3">
    <div class="col-12">
        <label for="university" class="form-label">Universidad</label>
        <app-university-select [name]="'universityId'"></app-university-select>
    </div>
    <div class="col-12">
        <label for="career" class="form-label">
            Carrera
        </label>
        <app-career-select [name]="'careerId'"></app-career-select>
    </div>
    <div class="col-12">
        <label for="career" class="form-label">
            Orientación
        </label>
        <app-career-track-select [name]="'careerTrackId'"></app-career-track-select>
    </div>
</form>
