<div class="modal-header">
    <h5 class="modal-title" id="modal-title">¡Bienvenid&#64;!
    </h5>
</div>
<div class="modal-body">
  <div class="text-center">
    <h1>V O J A R O</h1>
    <h6>
      ¿Nunca te pasó que te perdías mirando la tabla de correlatividades de tu plan de estudios?
    </h6>
  </div>
  <div class="mt-4">
    <p>
      Comenzar a organizar tu carrera nunca fue tan fácil:
    </p>
    <ul>
      <li>
        <div class="row mb-3">
          <p>
            Selecciona un plan de estudios
          </p>
          <div class="img-wrapper text-center">
            <img src="plan-0.png" alt="" style="width: 250px;">
          </div>
        </div>
      </li>
      <li>
        <div class="row mb-3">
          <p>
            Selecciona alguna asignatura. Podrás ver las correlativas entrantes y salientes.
          </p>
          <div class="img-wrapper text-center">
            <img src="correlativa-1.png" alt="" style="width: 250px;">
          </div>
        </div>
      </li>
      <li>
        <div class="row mb-3">
          <p>
            Marcá la asignatura como "Cursando", "Regularizada" o "Aprobada"
          </p>
          <div class="img-wrapper text-center">
            <img src="plan-1.png" alt="" style="width: 250px;">
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="mt-5">
    <p>
      <strong>
        Este proyecto se encuentra en una versión temprana de desarrollo.
        Te invito a ayudarme con una pequeña donación para seguir trabajando:
      </strong>
    </p>
    <div class="text-center">
      <a href='https://cafecito.app/goncxjo' rel='noopener' target='_blank'><img srcset='https://cdn.cafecito.app/imgs/buttons/button_3.png 1x, https://cdn.cafecito.app/imgs/buttons/button_3_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_3_3.75x.png 3.75x' src='https://cdn.cafecito.app/imgs/buttons/button_3.png' alt='Invitame un café en cafecito.app' /></a>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close('ok')">OK</button>
</div>