<div class="card">
  <div class="card-header bg-primary text-light">
    Información general
  </div>
  <div class="card-body">
    <form [formGroup]="form" class="row g-3">

      <div class="col-md-3">
        <label for="id" class="form-label">Id</label>
        <input type="text" class="form-control" formControlName="id">
      </div> 

      <div class="col-md-3">
        <label for="siglas" class="form-label">Siglas</label>
        <input type="text" class="form-control" formControlName="siglas">
      </div>
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre">
      </div>

    </form>

    <div class="btn-group-form left mt-4" *ngIf="!readonly">
      <button type="button" class="btn btn-success" (click)="onSubmit()">
        <i class="fas fa-save"></i> Guardar
      </button>
      <button type="button" class="btn btn-danger" (click)="goBack()">
        <i class="fas fa-times"></i> Cancelar
      </button>
    </div>

    <div class="btn-group-form left mt-4" *ngIf="readonly">
      <button type="button" class="btn btn-primary" (click)="goBack()">
        <i class="fas fa-arrow-left"></i> Volver
      </button>
    </div>

  </div>
</div>
