<div class="card">
  <div class="card-header bg-primary text-light">Buscar</div>
  <div class="card-body">
    <form [formGroup]="filterForm" class="row g-3">
      <div class="col-md-6">
        <label for="parteNombreSiglas" class="form-label">Nombre/Siglas</label>
        <input type="text" class="form-control" formControlName="parteNombreSiglas">
      </div>
    </form>
  </div>
</div>

<div class="btn-group-form mt-2">
  <button type="button" class="btn btn-primary" (click)="onSubmit()">
    <i class="fas fa-search"></i> Buscar
  </button>
  <button type="button" class="btn btn-primary" [routerLink]="['.', 'crear']">
    <i class="fas fa-plus"></i> Crear Universidad
  </button>
</div>
