body {
	min-height: 100vh;
	min-height: 100dvh;
}

app-root {
	display: flex;
	flex: 1;
	flex-direction: column;
	min-height: 100vh;
	height: 100dvh;
}


$approved: #8affc7;
$regularized: #fff977;
$in-progress: #ffb58c;
$available: #a6cbff;

.approved {
	background-color: $approved;
	&-text {
		color: $approved;
	}
}
.regularized {
	background-color: $regularized;
	&-text {
		color: $regularized;
	}
}
.in-progress {
	background-color: $in-progress;
	&-text {
		color: $in-progress;
	}
}
.available {
	background-color: $available;
	&-text {
		color: $available;
	}
}

@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default, dark --prefersdark, pastel;
  }
