* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

app-root {
	@extend .d-flex;
	@extend .flex-column;
	@extend .min-vh-100;
}

@import 'assets/d3-graph-controller.css';
@import 'bootstrap/scss/bootstrap';