<div class="card">
	<div class="card-header bg-primary text-light">Buscar</div>
	<div class="card-body">
	  <form [formGroup]="filterForm" class="row g-3">
		<div class="col-md-3">
		  <label for="nombre" class="form-label">Nombre</label>
		  <input type="text" class="form-control" formControlName="nombre">
		</div>
		<div class="col-md-3">
		  <label for="universidad" class="form-label">Universidad</label>
		  <app-universidad-select
		  	formControlName="universidad"
			ngDefaultControl
			(universidad)="onUniversidadChange($event)"
		  ></app-universidad-select>
		</div>
		<div class="col-md-3">
		  <label for="departamento" class="form-label">Departamento</label>
		  <app-departamento-select
		  	formControlName="departamento"
		  	ngDefaultControl [universidad]="universidad"
		  ></app-departamento-select>
		</div>
	  </form>
	</div>
  </div>
  